.marketheader{
  height: 83px;
  background-color: #E2202B;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.backarrow{
  height: 24px;
  width: 24px;
  background-image: url('./Back.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;
  margin-top: 36px;
}
