@mixin menuiconstyle {
  width: 20px;
  max-width: 20px;
  max-height: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin displaymenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-top: 1px solid #EEE;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.menu_description{
  font-size: 10px;
  padding-top: 6px;
  color: #AAA;
}
.home_menu_icon{
  background-image: url('./home.png');
  @include menuiconstyle;
}
.search_menu_icon{
  background-image: url('./search.svg');
  @include menuiconstyle;
}
.list_menu_icon{
  background-image: url('./cart.png');
  @include menuiconstyle;
}

.home_menu{
  @include displaymenu;
}
.search_menu{
  @include displaymenu;
}
.list_menu{
  @include displaymenu;
}
