@mixin iconsstyles {
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: center;
}

.categories_wrapper{
  display: flex;
  padding-left: 24px;
  overflow: scroll;
}

.categories{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 64px;
  margin-right: 12px;
  align-items: center;
}
.categories:last-child{
  padding-right: 24px;
}

.categories_description{
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

.circle{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #FFF;
  filter: drop-shadow(0 0 2px #EEE);
}
.iconcategory{
  @include iconsstyles;
}
