.productcardwrapper{
  height: 108px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  background-color: #FFF;
}
.producticon {
  height: 108px;
  width: 108px;
  background-size: 108px 108px;
  background-image: url('./banana.png');
  background-repeat: no-repeat;
}
