@mixin tipsstyle{
  height: 165px;
  min-width: 93px;
  width: 93px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.tipsandrecepieswrapper{
  overflow: scroll;
  display: flex;
  margin-bottom: 24px;
}

.tips_title{
  font-size: 20px;
  font-weight: bold;
  margin: 24px 24px 12px 24px;
}

.tipswrapper:first-child{
  margin-left: 24px;
}
.tipswrapper:last-child{
  margin-right: 24px;
}

.image_tip{
  @include tipsstyle;
}
