.categoryheader{
  height: 83px;
  background-color: #56BB83;
  display: flex;
  align-items: center;
}

.backarrow{
  height: 24px;
  width: 24px;
  background-image: url('./Back.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 16px;
  margin-top: 36px;
}
.categoryName{
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  margin-left: 16px;
  margin-top: 36px;
}
