@mixin supermarket_icons {
  width: 124px;
  height: 124px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #EEE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.forthwrapper{
  margin-bottom: 70px;

}

.flyer_description{
  font-size: 11px;
  color: #AAA;
}
.folhetocontinente {

  @include  supermarket_icons;
}
