@mixin supermarket_icons {
  width: 124px;
  height: 124px;
  object-fit: cover;
  object-position: top;
  border-bottom: 1px solid #EEE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.forthwrapper{
  margin-bottom: 70px;

}

.flyer_description{
  font-size: 11px;
  color: #AAA;
}
.folheto {
  @include  supermarket_icons;
}
